/* 2. SHRINKING AND GROWING */

/* flex item shrink when container width is less than item */
.flex-item {
	/* set flex item width scale */
	/* do not shrink */
	flex-shrink: 0;
	flex-shrink: 1;
	/* shrink 3X scale */
	flex-shrink: 3;

	/* set flex item width */
	/* width 0 */
	flex-basis: 0;
	/* width same as content */
	flex-basis: auto;
}

.flex-container {
	/* same as flex: 1 1 auto */
	flex: auto;
}
