/* 4. ALIGNMENT */

.flex-container{
    /* align flex item at main axis */
    justify-content: between;
    justify-content: center;

    /* align flex item at cross axis */
    align-items: center;

    /* apply gap between flex items */
    gap: 10px;
}