/* 4. ALIGNMENT */

.flex-container{
    justify-content: between;
    justify-content: center;
    /* align flex item at main axis */

    align-items: center;
    /* align flex item at cross axis */

    gap: 10px;
    /* apply gap between flex items */
}