.background-img {
  background-image: url(../assets/background.jpg);
  background-size: auto;
  background-repeat: repeat-x;
  background-origin: border-box;
  background-clip: border-box;
  background-attachment: fixed;
  background-color: red;

  background-position: 10% 10%;
  /* offset-x | offset-y */
}

.box-border {
  border: 1rem solid red;
  /* width | style | color */

  border-radius: 10px;
  /* apply to all corners */

  border-radius: 10px 20px;
  /* top left bottom right | top right bottom left */

  border-radius: 10px 20px 10px 20px;
  /* clockwise starts from top left */

  box-shadow: 2px 2px 5px black;
  /* offset-x | offset-y | blur radius | color */
}
.content-overflow {
  overflow: visible;
  overflow: hidden;

  overflow: scroll;
  /* always scroll */

  overflow: auto;
  /* scroll only when overflow */
}

.behind-opacity {
  opacity: 0;
  opacity: 0.3;
  opacity: 1;
}
