div {
  height: 100px;
  width: 100px;
  background-color: red;
  margin: 10px auto;
  color: white;
}

.bgcolor {
  background-color: red;
  transition: background-color 2s ease-in-out 0.2s;
}
.bgcolor:hover {
  background-color: blue;
}
.opacity {
  opacity: 1;
  transition: opacity 2s ease-in-out 0.2s;
}
.opacity:hover {
  opacity: 0;
}
.transform {
  transition: transform 2s ease-in-out 0.2s;
}
.transform:hover {
  transform: rotate(180deg);
}
